[settings]
os = {{ os.name }}
os.version = {{ os.version }}
arch = {{ architecture.conan_name }}
compiler = {{ compiler.name }}
compiler.version = {{ compiler.version }}
build_type = {{ build_type }}

compiler.libcxx = libc++

[conf]
{% if build_type == 'Release' %}
tools.build:cxxflags += ['-g -arch {{ architecture.apple_name }}']
tools.build:cflags += ['-g -arch {{ architecture.apple_name }}']
{% else %}
tools.build:cxxflags += ['-arch {{ architecture.apple_name }}']
tools.build:cflags += ['-arch {{ architecture.apple_name }}']
{% endif %}
