[settings]
os = {{ os }}
arch = {{ architecture.conan_name }}
compiler = {{ compiler.name }}
compiler.version = {{ compiler.version }}
build_type = {{ build_type }}

compiler.runtime = {{ compiler.runtime }}
compiler.runtime_type = {{ build_type }}
